.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.cell {
  border: 1px solid rgb(230, 230, 230);
  padding: 0
}

.input {
  border: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
  margin: -1px;
  width: calc(100% + 2px);
  padding: 0.5em;
  position: relative;
  outline: none;
}

.input:focus {
  outline: none;
  border-color: #2276fc;
  z-index: 1;
}

.rowDelete,
.colDelete {
  color: #CCC;
  padding: 0;
  text-align: center;
}

.rowDelete {
  padding-left: 0.5em;
}

.colDelete {
  padding-top: 0.5em;
}
