.table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  padding: 1px;
  width: 100%;
}

.table td {
  padding: 0;
}

.table tr:not(:last-child) td:last-child {
  width: 36px;
}

.table td > span {
  margin: -1px;
}

.table input:focus + span {
  box-shadow: inset 0 0 0 1px #cad1dc !important;
}

.tablePreview {
  font-size: 0.875em;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.tablePreview td {
  padding: 0.5em;
  border: 1px solid #DFE2E9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
